* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container-content {
    width: 50%;
    height: 200px;
    margin: 250px auto;
    padding-top: 40px;
    padding-left: 70px;
    border: 1px solid #b8b4b4;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    text-align: left;
    line-height: 40px;
    color: #646161;
}

a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}

@media screen and (max-width: 972px) {
    body {
        width: 100%;
        height: 100px;
        background-color: #c9d6ff;
        background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    }

    .container-content {
        width: 90vw;
        height: 40vh;
        position: relative;
        top: -50px;
        padding-top: 40px;
        padding-left: 20px;
        border: 1px solid #b8b4b4;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        text-align: left;
        line-height: 40px;
        color: #646161;
    }

    span {
        position: relative;
        top: 50px;
    }
}