* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container-content {
    width: 50%;
    height: 50%;
    margin: 200px auto;
    padding: 10px;
    border: 1px solid #9a9898;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    text-align: left;
    color: #706e6e;
}

button {
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #706e6e;
    color: #f2eeee;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #f2eeee;
    color: #706e6e;
    transition: 0.75s ease;
}

form {
    padding: 10px;
    line-height: 40px;
}

form>ul>li {
    list-style-type: none;
}

@media screen and (max-width: 972px) {
    .container-content {
        width: 95vw;
        height: 50%;
        margin: 200px auto;
        padding: 10px;
        border: 1px solid #9a9898;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        text-align: left;
        color: #706e6e;
    }

    button {
        width: 30%;
        height: 40px;
        border: none;
        border-radius: 8px;
        background-color: #706e6e;
        color: #f2eeee;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }
}