.container {
    width: 50%; /* Chiếm 50% chiều rộng của màn hình */
    height: 100%; /* Chiếm toàn bộ chiều cao của màn hình */
    float: left; /* Đặt khu vực này bên phải */
    background-color: #fff; /* Màu nền cho khu vực */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 200px;
}
.profile-form {
         /* Chiếm 50% chiều rộng của container */
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Hiệu ứng bóng đổ */
        
}
.profile-form input[type="text"],
    .profile-form input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .profile-form button {
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .profile-form button:hover {
        background-color: #66CCCC;
    }
.info {
    font-size: 18px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img.avatar {
    width: 100px; /* Điều chỉnh kích thước của avatar */
    height: auto;
    margin-right: 20px; /* Khoảng cách giữa avatar và chữ */
    float: left; /* Đẩy avatar sang trái */
}
.subjects {
    margin-top: 10px;
}

.subject-item {
    display: inline-block;
    background-color: #99CCCC;
    color: #336633;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
body {
    background-size: cover; /* Tùy chỉnh kích thước hình ảnh để nó phủ hết phần nền */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
}
.media-container {
    width: 47.25%; /* Chiếm 50% chiều rộng của màn hình */
    height: 100%; /* Chiếm toàn bộ chiều cao của màn hình */
    float: right; /* Đặt khu vực này bên phải */
    background-color: #fff; /* Màu nền cho khu vực */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.media-item {
    width: calc(33.33% - 10px); /* Chiếm 1/3 chiều rộng của media-container */
    height: 200px; /* Chiều cao của mỗi media-item */
    margin: 5px;/* Khoảng cách giữa các media-item */
    float: left; /* Sắp xếp media-item theo chiều ngang */
    background-color: #f0f0f0; /* Màu nền cho mỗi media-item */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.media-item img {
    max-width: 100%; /* Đảm bảo chiều rộng của hình ảnh không vượt quá chiều rộng của media item */
    height: auto; /* Chiều cao của hình ảnh tự động tính toán để giữ nguyên tỷ lệ */
}
.gach-ngang {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); /* Đường gạch ngang màu đen nhạt */
    margin-bottom: 10px; /* Khoảng cách giữa dòng văn bản và dấu gạch */
    display: inline-block; /* Hiển thị phần tử là một khối inline */
    padding-bottom: 5px; /* Khoảng cách dưới của phần tử chứa */
}
