<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/snapedit_1710079190361 copy.png' %}">
    {% block link %}

    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div class="container-navi">
      <a href="{% url 'home' %}" id="navi-logo"><img src="{% static 'img/snapedit_1710079190361.png' %}" alt="logo" style="width: 80px;" /></a>
      <ul class="navi-action">
        <li>
          <a href="{% url 'home' %}" style="margin-right: 18px; position: relative; top: 16px;">Trang chủ</a>
        </li>
        <li>
          <a href="{% url 'find' %}" style="margin-right: 18px; position: relative; top: 16px;">Tìm gia sư</a>
        </li>
        <li>
          <a href="{% url 'tutor' %}" style="margin-right: 18px; position: relative; top: 16px;">Dành cho gia sư</a>
        </li>
        <li>
          <a href="{% url 'academic_resource' %}" style="margin-right: 18px; position: relative; top: 16px;">Tài nguyên học</a>
        </li>
        <li>
          <a href="{% url 'signup_in' %}" style="display: {{ user_not_login }}; margin-right: 18px; position: relative; top: 16px;">Đăng nhập/Đăng ký</a>
        </li>
        <li>
          <img src="{% static 'img/snapedit_1710079190361.png' %}" alt="Avatar" style="opacity:0.001; display: {{ user_not_login }}; width: 2.5em; height: 2.5em; border-radius: 50%; position: relative; top: 4px;" />
        </li>
        <li style="width: 200px;">
          <div style="position: relative;" id="avatarContainer">
            {% if avatar.avatar %}
              <img src="{{ avatar.avatar.url }}" alt="Avatar" style="width: 2.5em; height: 2.5em; border-radius: 50%; cursor: pointer; position: relative; top: 4px;" onclick="toggleDropdown()" />
            {% else %}
              <img src="{% static 'img/Empty.png' %}" alt="Default Avatar" style="display: {{ user_login }}; width: 2.5em; height: 2.5em; border-radius: 50%; cursor: pointer; position: relative; top: 4px;" onclick="toggleDropdown()" />
            {% endif %}
            <div id="dropdownContent" style="display: none; position: absolute; top: 60px; right: 0; background-color: #fff; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
              <a href="{% url 'signout' %}" style="display: block; padding: 10px; color: #333; text-decoration: none; font-size: 13px;">Đăng xuất</a>
              <a href="{% url 'personal_account' %}" style="display: block; padding: 10px; color: #333; text-decoration: none; font-size: 13px;">Tài khoản của tôi</a>
            </div>
          </div>
        </li>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
        {% comment %}Dropdown Menu{% endcomment %}
        <div class="dropdown_menu">
          <li>
            <a href="{% url 'home' %}">Trang chủ</a>
          </li>
          <li>
            <a href="{% url 'find' %}">Tìm gia sư</a>
          </li>
          <li>
            <a href="{% url 'tutor' %}">Dành cho gia sư</a>
          </li>
          <li>
            <a href="{% url 'academic_resource' %}">Tài nguyên học</a>
          </li>
          <li>
            <a href="{% url 'signup_in' %}" style="display: {{ user_not_login }};">Đăng nhập/Đăng ký</a>
          </li>
          <li style="width: 200px;" id="personal-avatar">
            <div style="position: relative;" id="avatarContainer2">
              {% if avatar.avatar %}
                <img src="{{ avatar.avatar.url }}" alt="Avatar" style="width: 2.5em; height: 2.5em; border-radius: 50%; cursor: pointer; position: relative; top: 4px;" onclick="toggleDropdown2()" />
              {% else %}
                <img src="{% static 'img/Empty.png' %}" alt="Default Avatar" style="display: {{ user_login }}; width: 2.5em; height: 2.5em; border-radius: 50%; cursor: pointer; position: relative; top: 4px;" onclick="toggleDropdown2()" />
              {% endif %}
              <div id="dropdownContent2" style="display: none; position: absolute; top: initial; bottom: 40px; right: 0; width: 100px; background-color: #fff; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;">
                <a href="{% url 'signout' %}" style="display: block; padding: 10px; color: #333; text-decoration: none; font-size: 13px;">Đăng xuất</a>
                <a href="{% url 'personal_account' %}" style="display: block; padding: 10px; color: #333; text-decoration: none; font-size: 13px;">Tài khoản của tôi</a>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
    {% block content %}

    {% endblock %}
    <footer class="footer">
      <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
      </div>
      <ul class="social-icon">
        <li class="social-icon__item">
          <a class="social-icon__link" href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#"><ion-icon name="logo-google"></ion-icon></a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#"><ion-icon name="logo-youtube"></ion-icon></a>
        </li>
      </ul>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Home</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Services</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Team</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Contact</a>
        </li>
      </ul>
      <p>&copy;2024 Tutor | All Rights Reserved</p>
      <p>Hotline: 0123456789</p>
      <p>Văn phòng: Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
      function toggleDropdown() {
        var dropdownContent = document.getElementById('dropdownContent')
        if (dropdownContent.style.display === 'none' || dropdownContent.style.display === '') {
          dropdownContent.style.display = 'block'
        } else {
          dropdownContent.style.display = 'none'
        }
      }
      function toggleDropdown2() {
        var dropdownContent = document.getElementById('dropdownContent2')
        if (dropdownContent.style.display === 'none' || dropdownContent.style.display === '') {
          dropdownContent.style.display = 'block'
        } else {
          dropdownContent.style.display = 'none'
        }
      }
      
      // Đóng dropdown nếu người dùng nhấp vào bên ngoài dropdown
      document.addEventListener('click', function (event) {
        var avatarContainer = document.getElementById('avatarContainer')
        var dropdownContent = document.getElementById('dropdownContent')
        if (!avatarContainer.contains(event.target)) {
          dropdownContent.style.display = 'none'
        }
      })
      
      document.addEventListener('click', function (event) {
        var avatarContainer = document.getElementById('avatarContainer2')
        var dropdownContent = document.getElementById('dropdownContent2')
        if (!avatarContainer.contains(event.target)) {
          dropdownContent.style.display = 'none'
        }
      })
    </script>
    <script>
      const toggleBtn = document.querySelector('.toggle_btn')
      const toggleBtnIcon = document.querySelector('.toggle_btn i')
      const dropDownMenu = document.querySelector('.dropdown_menu')
      
      toggleBtn.onclick = function () {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')
      
        toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
      }
    </script>
    <script type="text/javascript">
      (function(d, m){
          var kommunicateSettings = 
              {"appId":"79f892b19388a3bd3b89061be9cdfe2a","popupWidget":true,"automaticChatOpenOnNavigation":true};
          var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
          s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
          var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
          window.kommunicate = m; m._globals = kommunicateSettings;
      })(document, window.kommunicate || {});
  /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
  </script>
  </body>
</html>
