<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/Login.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/snapedit_1710079190361 copy.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Log in</title>
  </head>

  {% for message in messages %}
    <div role="alert" style="background-color: #FFFF66; padding: 10px; margin-bottom: 5px; border-radius: 5px; font-weight: 600;">
      <strong><i class="fa-solid fa-message"></i></strong> {{ message }}
    </div>
  {% endfor %}
  <body>
    <!-- NAVIGATION -->
    <img src="https://static.cambly.com/_next/static/media/guy_on_globe.1786b9db.svg" alt="" id="background" />
    <!-- SIGN UP -->
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form action="{% url 'signup_in' %}" method="post" id="registrationForm">
          {% csrf_token %}
          <h1>Tạo tài khoản</h1>
          <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <hr /> <span>HOẶC</span>
          <input type="text" placeholder="Tên đăng nhập" id="username" name="username" required />
          <input type="Email" placeholder="Địa chỉ Email" id="email" name="email" required />
          <input type="password" placeholder="Mật khẩu" id="pass1" name="pass1" required />
          <input type="password" placeholder="Nhập Lại Mật khẩu" id="pass2" name="pass2" required />
          <span id="error_message" style="display: none; color: red; width: 250px; margin-top: 10px;"><i class="fa-solid fa-triangle-exclamation"></i> Mật khẩu không khớp. Vui lòng nhập lại!</span>
          <button type="submit" name="register">Đăng ký</button>
        </form>
      </div>

      <!-- SIGN IN -->
      <div class="form-container sign-in">
        <form action="{% url 'signup_in' %}" method="post">
          {% csrf_token %}
          <h1>Đăng nhập</h1>
          <div class="social-icons">
            <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
            <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
          <!-- <span>Hoặc</span> -->
          <hr /> <span>HOẶC</span>
          <input type="text" placeholder="Tên đăng nhập" id="usernamel" name="usernamel" required />
          <input type="password" placeholder="Mật khẩu" id="passl" name="passl" required />
          <a href="{% url 'reset_password' %}">Quên mật khẩu?</a>
          <button type="submit" name="login">Đăng nhập</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <img src="{% static 'img/snapedit_1710079190361.png' %}" alt="" id="logo" />
            <h1>TUTOR</h1>
            <h2>Chào mừng bạn trở lại!</h2>
            <p>Đăng nhập ngay để cùng nhau trải nghiệm</p>
            <button class="hidden" id="login">Đăng nhập</button>
          </div>
          <div class="toggle-panel toggle-right">
            <img src="{% static 'img/snapedit_1710079190361.png' %}" alt="" id="logo" />
            <h1>TUTOR, Xin chào!</h1>
            <p>Tạo ngay một tài khoản để trải nghiệm trang web của chúng tôi</p>
            <button class="hidden" id="register">Đăng ký</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'js/script-login.js' %}"></script>
    <script src="{% static 'js/checksign_up.js' %}"></script>

  </body>
</html>
