{% extends 'app/base.html' %}
{% load static %}
{% block link %}
  <title>Personal Account</title>
  <link rel="stylesheet" href="{% static 'css/person-ac.css' %}" />
  <style>
    /* CSS để che đi input file */
    .custom-file-input {
      display: none;
    }
    /* CSS để tùy chỉnh giao diện của nút hoặc hình ảnh thay thế */
    .custom-file-button {
      background-color: #3498db;
      color: black;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 10px;
      font-weight: 600;
    }
    .update-button {
      display: none; /* Ẩn nút cập nhật ban đầu */
    }
  </style>
  <script>
    // JavaScript để hiển thị tên file khi được chọn
    function showFileName(input) {
      var fileName = input.files[0].name
      document.getElementById('fileName').innerText = fileName
      document.getElementById('chooseBtn').style.display = 'none' // Ẩn nút chọn ảnh
      document.querySelector('.update-button').style.display = 'block' // Hiển thị nút cập nhật
    }
    
    // JavaScript để gửi form khi nhấp vào nút cập nhật
    function submitForm() {
      document.getElementById('uploadForm').submit()
    }
  </script>
{% endblock %}

{% block content %}
  {% for message in messages %}
    <div role="alert" style="text-align: center; margin-top: 10px;">
      <strong></strong> {{ message }}
    </div>
  {% endfor %}
  <div class="container">
    <div class="container-account" style="min-width: 143px;">
      <div class="account" style="padding-bottom: 10px;">
        {% if update_avatar.avatar %}
          <img src="{{ update_avatar.avatar.url }}" alt="Avatar" style="width: 3.5em; height: 3.5em; border-radius: 50%;" />
        {% else %}
          <p>No image uploaded</p>
        {% endif %}
        <span>{{ request.user }}</span>
        <form action="{% url 'update_avatar' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" id="fileInput" name="avatar" class="custom-file-input" onchange="showFileName(this)" />
          <label for="fileInput" class="custom-file-button" id="chooseBtn">ĐỔI AVATAR</label>
          <span id="fileName"></span>
          <button type="submit" class="custom-file-button update-button" onclick="submitForm()" style="width: 9em; margin-left: 70px; padding-bottom: 25px; font-size: 13px; border-radius: 10px;">CẬP NHẬT</button>
        </form>
      </div>
      <div class="option">
        <span>
          <i class="fa-solid fa-user" style="margin-left: 5px; margin-right: 5px;"></i>
          <span onclick="switchTab('personalTab')" id="personal">TÀI KHOẢN CỦA TÔI</span>
        </span>
        <span>
          <i class="fa-solid fa-key" style="margin-left: 5px; margin-right: 5px;"></i>
          <span onclick="switchTab('passwordTab')" id="password">ĐỔI MẬT KHẨU</span>
        </span>
      </div>
    </div>
    <div class="container-password" id="passwordTab">
      <form action="{% url 'change_password' %}" method="post" id="change_password">
        {% csrf_token %}
        <div class="old_pass">
          <label for="old">MẬT KHẨU CŨ</label>
          <input type="password" id="old" name="old-pass" placeholder="Nhập mật khẩu cũ" required />
        </div>
        <div class="new_pass">
          <label for="new">MẬT KHẨU MỚI</label>
          <input type="password" id="new" name="new-pass" placeholder="Nhập mật khẩu mới" required />
        </div>
        <div class="new_pass_again">
          <label for="newagain">NHẬP LẠI MẬT KHẨU</label>
          <input type="password" id="newagain" name="new-pass-again" placeholder="Nhập lại mật khẩu" required />
          <span id="error_message" style="display: none; color: red; width: 350px; margin-top: 10px; font-size: 10px; text-align: left;"><i class="fa-solid fa-triangle-exclamation"></i> Mật khẩu không khớp. Vui lòng nhập lại!</span>
        </div>

        <button type="submit">CẬP NHẬT</button>
      </form>
    </div>
    <div class="container-info" id="personalTab">
      <form action="{% url 'update_info' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="Name">
          <label for="name" style="display: block;">HỌ TÊN</label>
          <input type="text" id="name" name="name" placeholder="Vd: Nguyễn Văn A" required/>
        </div>
        <div class="phone-email">
          <div class="Phone">
            <label for="phone" style="display: block;">SỐ ĐIỆN THOẠI</label>
            <input type="text" id="phone" name="phone" placeholder="0977638421" required/>
          </div>
          <div class="School">
            <label for="school" style="display: block;">TRƯỜNG</label>
            <input type="text" id="school" name="school" placeholder="Đại học công nghệ thông tin" required/>
          </div>
        </div>
        <div class="sex-date">
          <div class="Sex">
            <label for="sex" style="display: block;">GIỚI TÍNH</label>
            <select name="sex" id="sex" required>
              <option value="male">Nam</option>
              <option value="femail">Nữ</option>
            </select>
          </div>
          <div class="Date">
            <label for="avatar" style="display: block;">ẢNH ĐẠI DIỆN</label>
            <input type="file" id="avatar" name="avatar" required/>
          </div>
        </div>
        <div class="Address">
          <label for="current-address" style="display: block;">ĐỊA CHỈ</label>
          <input type="text" id="current-address" name="current-address" placeholder="Khu phố 6, quận Linh Trung, thành phố Thủ Đức" required/>
        </div>
        <div class="introduction">
          <label for="introduction" style="display: block;">GIỚI THIỆU</label>
          <textarea name="introduction" id="introduction" cols="69" rows="10" required></textarea>
        </div>
        <button type="submit">CẬP NHẬT</button>
      </form>
    </div>
  </div>
  <script src="{% static 'js/script-personal-account.js' %}"></script>
  <script src="{% static 'js/checkpassword.js' %}"></script>
{% endblock %}
