<!DOCTYPE html>
<html lang="vi">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="{% static 'css/Reset-Password.css' %}">
</head>
<body>
    <div class="container">
        <div class="container-content">
            <h2>Nhập mật khẩu mới</h2>
            <p>Vui lòng nhập mật khẩu mới của bạn hai lần để chúng tôi có thể xác minh bạn đã nhập chính xác.</p>
            <br>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Thay đổi</button>
            </form>
        </div>
    </div>
</body>
</html>