<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/Reset-mail.css' %}">
</head>
<body>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            
            <h2>Quên mật khẩu</h2>
            <div class="container-box1">
                {{form.as_p}}
                <button type="submit">Gửi Email</button>
            </div>
            <div class="container-box2">
                <p>Bạn chưa có tài khoản? <a href="{% url 'signup_in' %}">Đăng ký</a></p>
            </div>
        </form>
    </div>
</body>
</html>