<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password_sent</title>
    <link rel="stylesheet" href="{% static 'css/Reset-password-sent.css' %}">
</head>
<body>
    <div class="container">
        <div class="container-content">
            <h2>Đã gửi mail đặt lại mật khẩu</h2>
            <p>Chúng tôi đã gửi email cho bạn hướng dẫn đặt mật khẩu, nếu có tài khoản với email bạn đã nhập. 
                Bạn sẽ sớm nhận được chúng.</p>
            <p>
                Nếu bạn không nhận được email, vui lòng đảm bảo bạn đã nhập địa chỉ bạn đã đăng ký 
                và kiểm tra thư mục spam của bạn.
            </p>
        </div>
    </div>
</body>
</html>