<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Complete</title>
    <link rel="stylesheet" href="{% static 'css/reset-password_complete.css' %}">
</head>
<body>
    <div class="container">
        <div class="container-content">
            <h1>Đã gửi yêu cầu tư vấn thành công.</h1>
            <p>Đội ngũ tư vấn của chúng tôi sẽ sớm liên hệ với bạn. Trân trọng!</p>
            <span><a href="{% url 'home' %}">Trang chủ</a></span>
        </div>
    </div>
</body>
</html>